<div class="jumbotron about">
  <div class="h2box">
    <h2>Learn from top students. Pay what you can afford.</h2>
  </div>
</div>
  <div class="aboutus">
        <h2 style="text-align: center; text-shadow: 1px 1px 1px #e0e0e0;"><a href="#whoweare">그루미 소개</a> &nbsp;|&nbsp; <a href="#ourteam">Our Team</a> &nbsp;|&nbsp;<a href="#ourmission">Our Mission</a> &nbsp;|&nbsp;<a href="#whyus">Why us</a></h2>
        <br><br>
<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">      
        <h2><a name="whoweare">그루미 소개</a></h2>          
        <p>그전 세계 최고 명문대학교와 대학원 재학생 및 졸업생 네트워크를 기반으로 과외 선생님과 대입 그리고 시험준비를 앞두고 있는 학생들을 연결시켜주는 과외 중계 사이트입니다.</p>
      </div>
      </div>
    <br>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">    
       <h2><a name="ourteam">Our Team</a></h2><br>
        <div class="row">
          <div class="col-sm-6 col-md-4">
              <img src="https://dl.dropboxusercontent.com/s/gciika8wx5loeu3/passport.jpg" class="img-circle" style="width:170px;">
                <h4>Harry Lee</h4>
                <p>Harry has started tutoring GCSE and IB students since the age of 17 and really have enjoyed seeing his students improving in academic excellence. For this reason, Harry's goal is to improve the way ambitious international student aiming for world renowned institutions prepare their studies and, ultimately, make a difference in current study abroad private tutoring industry.</p>            
          </div>
          <div class="col-sm-6 col-md-4">
              <img src="https://dl.dropboxusercontent.com/s/8l1wq974ywwtdj7/jian%20wong.jpg" class="img-circle" style="width:170px;">
                <h4>Jian Wong</h4>
                <p>Jian began tutoring while taking his IGCSEs at the age of 16. For him, helping students ‘get’ a topic is a very rewarding experience. He has taught a variety of levels: IGCSEs, A Levels, and English to refugees. Recently, however, he has found himself drawn to helping international students prepare for their Oxbridge applications. His time at Oxford has been amazing and he would gladly help anyone working hard to get in. There is a wealth of experience to be shared on navigating applications. All it needs is the right platform.</p>            
          </div>
          <div class="col-sm-6 col-md-4">
              <img src="https://dl.dropboxusercontent.com/s/xk0fbze1od8dghd/arica.png" class="img-circle" style="width:170px;">
                <h4>Arica Chan</h4>
                <p>Arica started her study in the UK since the age of 17. Without studying abroad, Arica would not have thought of studying in the world's renowned university. Realising not all the students have the advantage of getting appropriate support from school, Arica hope to create more channels for students, especially international students, to improve and to achieve their goal in their future studies.</p>            
          </div>
        </div>
       </div>
      </div>
    <br><br>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 col-sm-12">
      <h2><a name="whyus">왜 그루미를 사용하죠?</a></h2>
        <div class="row">
          <div class="col-md-3 col-sm-3">
            <div class="circle aboutuscircle"><h3>저렴한 수업료</h3><p>시급 3만원부터 시작</p></div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="circle aboutuscircle2"><h3>선생님 후기</h3><p>전 학생들이 쓴 후기</p></div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="circle aboutuscircle"><h3></h3><p> tutors in all subjects</p></div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="circle aboutuscircle2"><h3>Social Enterprise</h3><p>Valuable resources available for free</p></div>
          </div>
        </div>
      </div><!-- end of col-md-10 -->
    </div>
    <br><br>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2><a name="ourmission">Our Mission</a></h2>
        <p>그루미의 설립 목적은 유학생들이 우수한 개인과외를 조금더   GuruMe was established to make top quality private tutoring more accessible and affordable by sourcing university students who are as well educated, dedicated and responsible as part time private tutors. More importantly, our aim is to go beyond just offering lessons for achieving higher academic grades but to offer tutors that can share with students the footsteps they have taken and offer advice and guidance on their academic career like school seniors.</p>
        </div>
      </div>
    </div>
</div>
<br><br><br>


