
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <h1>Editing tutor_profile</h1>
      </div>
    </div>

<%= render 'form' %>

<br><br>

    <div class="row">
    <div class="col-md-6 col-md-offset-2">
<%= link_to 'Show', @tutor_profile %> |
<%= link_to 'Back', tutor_profiles_path %>
      </div>
  </div>
