
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <h3>Registering as a Tutor</h3>
      <p>Please fill out the following info that will be shown on your tutor profile. After you fill out this form, an email will be sent to you to schedule a brief phone interview to verify and confirm your tutorship with Young Tutors.</p>
    </div>
    </div>

    <%= render 'form' %>
    <br><br>

    <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <%= link_to 'Back', tutor_profiles_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>