<div class="jumbotron about">
  <div class="h2box">
    <h2>최고의 선생님께 수업료 부담없이 배우세요.</h2>
  </div>
</div>
<div class="container">
  <div class="aboutus">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-6">      
        <h2><a name="whoweare">그루미 소개</a></h2>        
        <h4>그루미는 해외 명문대 입시 생들을 위한 과외 및 자료 공간입니다.</h4><br>
        <h4><b>과외 선생님</b>: 대학생 및 졸업생 From</h4>
        <li>미국 아이비 리그를 비롯한 미국 명문대</li>        
        <li>홍콩대, 싱가폴 국립대</li>
        <li>해외고 졸업후 국내 SKY 및 의대</li>
        <li>영국 옥스브릿지, LSE, 임페리얼, UCL 등</li>        
        <br>
        <h4><b>자료 공간</b></h4>
        <li>칼리지 에세이 Written By 아이비 리그 대학생들</li>
        <li>자기소개서 Written By 옥스브리지 대학생들</li>
        <li>입시 경험담 - 명문대 대학생들과의 입시 경험에 대한 인터뷰</li>
        <br>
        <p>학의 목표는 해외 명문대 입시라고 할 수 있는데 해외 명문대 입시에 성공한 재학생들과 한인 입시 생들이 서로 만날 수 있고 교류할 수 있는 공간이 되는 것이 그루미의 목표 입니다. 입시 지도 외에도 SAT, AP, IB, A-Level등의 시험준비를 위해 그루미를 사용 하실 수도 있습니다.</p><br>        
        <h3>그루미 과외 장점</h3> 
        <h4><b>저렵한 수업료</b></h4>
        <p>더이상 비싼 학원 수업료가 아닌 직접 선생님게 드리는 저렴한 수업료</p><br>        
        <h4><b>후기 시스템</b></h4>
        <p>학생들이 선생님과의 수업에 대한 후기</p><br>
        <h4><b>검색 가능한 선생님 리스트</b></h4> 
        <li>대학별 (프린스턴, 코넬, 옥스퍼드 등)</li>
        <li>커리큘럼과 과목별 (-AP Biology, IB Maths, A-Level Economics 등)</li>
        <li>위치별 (원하시는 위치에 계신 선생님을 검색하실 수 있는데 위치 검색은 국내 및 해외 에서도 가능합니다.</li></br>
        <p>그루미 사이트에서 선생님 검색에 대한 더 자세한 사항은 <%= link_to "이용방법", pages_how_it_works_path, class:"link" %> 에서 찾아 보실 수 있으십니다.)</p>
      </div>
      <div class="col-md-4" style="border-left: 1px solid #eeeeee">
          <img src="https://s3-ap-northeast-1.amazonaws.com/gurumek/recruiting.jpg" class="img-circle" style="width:130px; text-align:center">
          <h4>이혁진</h4>
          <p>어렸을 때부터 영국에서 기숙사 학교를 다니며 옥스퍼드 학 석사를 마지막으로 유학생활을 마쳤습니다. 개인적으로 입시 준비를 하면서 입시 준비를 맞게 하고 있는 건지에 대한 스트레스 받으며 옥스퍼드 생화학 재학중인 분께 입시 조언을 들을 수 있으면 너무 좋겠다고 느겼습니다.</p>
          <p>그 당시 제가 못 받았던 도움, 옥스퍼드 재학 중 여러 옥스퍼드 입시 생들 및 영국 대학입시 생들에게 해주며 너무 뿌듯하였습니다. 때문에 입시 조언이든, 과외 수업이든 유학생 선후배 끼리 만날 수 있는 공간 그루미를 시작하였습니다.</p>
       
          <img src="/assets/ourteam2.jpg" class="img-circle" style="width:170px;">
          <h4><%= t('Jian Wong') %></h4>
          <p><%= t('Jian Wong p') %></p>     
      </div>
    </div>
  </div>
<br>


