<p><span class="txt_style_1">Oxford, Biochemistry</span>
</br></br>
As a volunteer worker waiting standby in the hematology and oncology department, I saw kids younger than me with no hair 
because they had cancer. This was in a recent work experience at the Korean Cancer Center Hospital in Seoul. There, I 
realized that these young cancer patients could not live the same healthy life as most other kids. This has reinforced 
an aspiration to research cures for diseases as a biochemist, which originated as a result of a personal experience of 
being a patient at a hospital and meeting many patients with different conditions.
</br></br>
To research cures for diseases, I would need to know how the body functions and, therefore, this is what I am interested 
in studying. I think that learning about chemical reactions within cells that cause the cell, tissue, organ and organ 
system to function is more satisfactory than learning about the anatomy or physiology which have limits in biomedical 
research. One area of interest is stem cell research for its therapeutic potential in repairing damaged parts of body 
by growing new healthy tissues and organs. I believe that the key to clinically using stem cells lies in identifying 
how genes become inactivated when a stem cell specializes, as the current stem cell research looks at ways of differentiating 
embryonic stem cells into specifically specialized cells. I tried to read \'Cloning and Stem Cells\' journal from December 2008. 
Although the journal was difficult to understand, it gave me a flavor of the progress made in this area of research. Learning 
the mechanism of immune response from the \'The chemistry of life\' by Steven Rose was enlightening. In particular, deletion of 
immature T cells capable of recognizing \'self\' peptidE in the thymus in order to maintain \'self-tolerance\', and the failure 
to do so resulting in autoimmune diseases have been something new that I would like study in more depth. In addition, I read 
\'Power, Sex, Suicide\' by Nick Lane and could learn about the mitochondrial evolution and more about respiration. In particular, 
the mitochondrial theory of ageing, its role in the programmed cell death, \'apoptosis\', and how the failure of this program 
leads to cancer were thought provoking so that I would like to study more about such roles of the mitochondria.

I was selected to take part in the British Biology Olympiad 2009 in my L6th year in which I
was \'Highly Commended\'. In preparation for this, I read ahead in Biology using several
different text books and had to cover the majority of the Olympiad syllabus in my free time.
The amount of reading and learning was the biggest challenge. It was my determination to
achieve a medal that kept me reading the pages. I hope that my determined quality will help 
in going through the hard work that the Biochemistry course entails. My strongest subject is
chemistry and I received the chemistry prize of the year for lower sixth. Also, I scored the
best in the school for the senior UK Maths Challenge 2008.
</br></br>
Outside class, I have participated in various extra-curricular activities such as playing percussions in the college 
orchestra, performing a play (Pinter Short) and a musical (Chorus Line). The Duke of Edinburgh (bronze and silver) 
was a challenge that tested my determination at times of tiredness. Also, as the vice-chairman of Science Committee, 
I helped promote Science for both staff and students at Wellington and, recently, I organized a sustainable design 
challenge. I am the deputy head of my boarding house. Sports wise, I am a member of my school U18 basketball team. 
With these determined, organized and intellectual qualities, I believe myself to be an excellent candidate for the 
Biochemistry course.</p>