<p>
  Hi <b>GuruMe</b>,
</p>

<p>
  You have received a message with following details
</p>
<br><br>


<p>
  <b>Name :</b><br>
  <%= @name %>
</p>


<p>
 <b>Email :</b><br>
  <%= @email %>
</p>


<p>
  <b>Message :</b><br>
  <%= @message %>
</p>

