<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <br>
      <center>         
        <h1>그루미 선생님이 되신걸 축하드립니다!</h1><br>
        <h3>이제 과거에 가르쳤던 학생들에게 후기를 부탁해보아요~ 후기가 많은면 많을 수록 프로필이 더 좋아 보입니다! 그루미에서 준비한 빠르고 쉬운 후기 신청서를 보시죠^^</h3>
        <img src="https://s3-ap-northeast-1.amazonaws.com/gurumek/requestreview.jpg" class="img-responsive" >
        <br>
        <%= link_to "후기 요청하기", invite_for_review_tutor_profiles_path, class: "btn btn-primary" %>
      </center>
    </div>
  </div>
</div>